@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Medium.ttf');
}

.root {
	alpha-white: rgba(255, 255, 255, 0.6);
}

/* Set static border color */
.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-border-insets: 0;
	-fx-padding: 0;
	-fx-margin: 0;
}

/* Prevents blue glowing effect from Modena stylesheet */
.scroll-pane:focused {
	-fx-background-color: -fx-box-border;
	-fx-background-insets: 0;
}

VBox.main-menu {
	-fx-border-width: 0;
	-fx-border-insets: 0;
	-fx-background-color: derive(black, 33%);
}

/** Toggle buttons custom style */
VBox.main-menu > .toggle-button {
	-fx-content-display: top;
	-fx-pref-width: 190px;
	-fx-pref-height: 81px;
	-fx-min-width: 190px;
	-fx-min-height: 81px;
	-fx-background-color: #2b2e33;
	-fx-background-radius: 0;
	-fx-text-fill: alpha-white;
	-fx-padding: 7px 20px;
	-fx-border-insets: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: rgba(255, 255, 255, 0.05);
	-fx-font-family: "Verdana";
	-fx-font-size: 15px;
	-fx-cursor: hand;
}

VBox.main-menu > .toggle-button:disabled {
	-fx-opacity: 1.0;
}

VBox.main-menu > .toggle-button:hover {
	-fx-text-fill: white;
	-fx-background-color: #181A1E;
}

VBox.main-menu > .toggle-button:selected {
	-fx-text-fill: white;
	-fx-background-color: #319db5;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 4, 0.0 , 3 , 3 );
}

.toggle-button > .image-view {
	-fx-opacity: 0.6;
}

.toggle-button:selected > .image-view,
.toggle-button:hover > .image-view,
.toggle-button:focused > .image-view {
	-fx-opacity: 1;
}

/** Scrollbar custom style */
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button,
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .track,
.scroll-pane .scroll-bar .track-background,
.scroll-pane .scroll-bar .corner {
	-fx-padding: 0;
	visibility: hidden;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
	-fx-padding: 0 0 0 3;
}

.scroll-pane .scroll-bar .thumb {
	-fx-background-insets: 0;
	-fx-background-color: rgba(0,0,0, 0.55);
}

.dashboard-panes {
	-fx-background-color: white;
	-fx-effect: dropshadow( two-pass-box, rgba(0,0,0,0.08), 4, 0, 0, 2);
}

.boxToolbar {
	-fx-background-color: transparent;
}

.boxToolbar .paneTitle {
	-fx-font-family: "Lato";
	-fx-font-weight: 700;
	-fx-font-size: 16px;
	-fx-text-fill: #5b5b5b;
}

.boxToolbar .button,
.boxToolbar .choice-box {
	-fx-background-color: white;
	-fx-background-radius: 1;
	-fx-border-color: rgba(0, 0, 0, 0.2);
	-fx-font-family: "Lato";
	-fx-font-weight: bold;
	-fx-font-size: 12.3px;
	-fx-pref-width: 90px;
	-fx-text-alignment: center;

}

.button.redColoredButton {
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-background-color: red;
	-fx-border-color: black;
	-fx-text-fill: white;
}

.boxToolbar .choice-box {
	-fx-pref-width: 130px;
}

.boxToolbar .button:hover,
.boxToolbar .choice-box:hover {
	-fx-border-color: rgba(0, 0, 0, 0.4);
}

.boxToolbar .button:pressed {
	-fx-border-color: black;
}

.searchField {
	-fx-border-color: rgba(0, 0, 0, 0.2);
	-fx-background-color: white;
	-fx-background-image:url('/images/search_16.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 5 center;
	-fx-padding: 5 5 5 25;
	-fx-background-radius: 1;
	-fx-font-size: 13px;
}

.searchField:hover, .searchField:focused {
	-fx-border-color: black;
}

/* TableView custom style */
#addressTableView .table-cell {
	-fx-padding: 5 0 5 5;
	-fx-font-size: 14px;
}

#addressTableView .centeredCell {
	-fx-alignment: CENTER;
	-fx-padding: 0;
}
